@import 'variables';

@import 'animation';

@import 'setup';

@import 'text-content';

.wrapper {
	display: inline-flex;
	//transition: transform .1s ease;

	@media (max-width: $screen-desktop-small) {
		flex-flow: column;
	}
}

.front {
	z-index: 11;
	transform: translateZ(1px) scale(1);

	.screen {
		min-width: 121vw;
	}
}

.middle {
	z-index: 10;
	transform: translateZ(0) scale(1);

	.screen {
		min-width: 110vw;
	}
}

.back {
	z-index: 9;
	transform: translateZ(-1px) scale(1);

	.screen {
		min-width: 99vw;
	}
}

.scroll {
	position: fixed;
	bottom: 0;
	left: 0;
}

.screen {
	position: relative;
	flex: 1 0 auto;
	height: 100vh;
	min-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;

	@media (max-width: $screen-desktop-small) {
		min-width: 0;
		max-width: 100%;
	}
}

.image-container {
	display: block;
	position: relative;

	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.position {
	position: absolute;

	&.centre {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.top {
		top: 0;
		bottom: auto;
		transform: translate(0);

		&.centre {
			transform: translate(-50%, -0);
		}

		&.left {
			transform: translate(0);
		}

		&.right {
			transform: translate(0);
		}
	}

	&.right {
		right: 0;
		left: auto;
		transform: translate(0, -0);

		&.centre {
			transform: translate(0, -50%);
		}
	}

	&.bottom {
		bottom: 0;
		top: auto;
		transform: translate(-50%, 0);

		&.centre {
			transform: translate(-50%, 0);
		}

		&.left {
			transform: translate(-0, 0);
		}

		&.right {
			transform: translate(0, 0);
		}
	}

	&.left {
		left: 0;
		right: auto;
		transform: translate(0);

		&.centre {
			transform: translate(0, -50%);
		}
	} 
}
