html,
body {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'azo-sans-web', Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #333;
}

@media (max-width: 1100px) {
  html,
  body {
    overflow: auto;
  }
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 1.75rem;
  line-height: 1.5em;
  color: #592d5e;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5em;
  color: #333;
  font-weight: 400;
}

h2.medium {
  font-weight: 500;
}

h2.bold {
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5em;
  font-weight: 400;
  color: #333;
}

h3.medium {
  font-weight: 500;
}

h3.bold {
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 600;
  color: #592d5e;
}

h5 {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 500;
  color: #333;
}

a {
  color: #007d9e;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

strong,
.bold {
  font-weight: 600;
}

blockquote {
  display: block;
  position: relative;
  margin: 1rem auto;
  padding: 0 0 0 1.875rem;
  color: #592d5e;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-style: oblique;
  font-weight: 400;
  border-left: 5px solid #592d5e;
}

blockquote p {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  color: #592d5e;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-style: oblique;
  font-weight: 400;
  border: 0;
}

aside {
  position: relative;
  margin: 1rem 0;
  padding: 2rem;
  font-weight: 400;
  width: 100%;
  max-width: 23rem;
  border-left: 5px solid #007d9e;
  border-right: 5px solid #007d9e;
  font-size: .875rem;
}

sub {
  line-height: normal;
}

.animate {
  -webkit-transition: ease opacity, ease transform;
  transition: ease opacity, ease transform;
}

.animate.very-fast {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.animate.fast {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.animate.normal {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.animate.slow {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.animate.very-slow {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.animate.super-slow {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.animate.opacity {
  opacity: 0;
}

.animate.slide-up {
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
}

.animate.slide-right {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

.animate.slide-down {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.animate.slide-left {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

.animate.shown {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

@media (max-width: 500px) {
  .animate {
    -webkit-transition: none;
    transition: none;
  }
}

main {
  display: block;
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

@media (max-width: 1100px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

section {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

@media (max-width: 1100px) {
  section {
    min-width: 0;
    max-width: 100%;
  }
}

.text-content {
  display: block;
  max-width: 1600px;
  text-align: center;
}

.text-massive,
.text-large,
.text-medium,
.text-small {
  margin: 1rem 0;
}

.text-massive.black,
.text-large.black,
.text-medium.black,
.text-small.black {
  color: #333;
}

.text-massive.white,
.text-large.white,
.text-medium.white,
.text-small.white {
  color: #fff;
}

.text-massive.grey,
.text-large.grey,
.text-medium.grey,
.text-small.grey {
  color: #888;
}

.text-massive.nbs-brand-secondary,
.text-large.nbs-brand-secondary,
.text-medium.nbs-brand-secondary,
.text-small.nbs-brand-secondary {
  color: #592d5e;
}

.text-massive.nbs-cta-primary,
.text-large.nbs-cta-primary,
.text-medium.nbs-cta-primary,
.text-small.nbs-cta-primary {
  color: #007d9e;
}

.text-massive {
  font-size: 8vw;
  font-weight: 600;
  line-height: .9em;
}

.text-large {
  font-size: 6vw;
  font-weight: 600;
  line-height: .9em;
}

.text-medium {
  font-size: 4vw;
  font-weight: 600;
  line-height: .9em;
}

.text-small {
  font-size: 2vw;
  font-weight: 600;
  line-height: .9em;
}

.margin-large {
  margin: 5vw 0;
}

.margin-medium {
  margin: 4vw 0;
}

.margin-small {
  margin: 2vw 0;
}

.background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400%;
  height: 400%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.scroll {
  position: fixed;
  bottom: 0;
  left: 0;
}

.image-container {
  display: block;
  position: relative;
}

.image-container img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.one {
  z-index: 10;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
}

.two {
  z-index: 9;
  -webkit-transform: translateZ(1px) scale(1);
          transform: translateZ(1px) scale(1);
}

.two section {
  min-width: 80vw;
}

.position {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.position.top {
  top: 5%;
  bottom: auto;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.position.top.left {
  -webkit-transform: translate(-5%, -5%);
          transform: translate(-5%, -5%);
}

.position.top.right {
  -webkit-transform: translate(5%, -5%);
          transform: translate(5%, -5%);
}

.position.right {
  right: 5%;
  left: auto;
  -webkit-transform: translate(5%, -50%);
          transform: translate(5%, -50%);
}

.position.bottom {
  bottom: 5%;
  top: auto;
  -webkit-transform: translate(-50%, 5%);
          transform: translate(-50%, 5%);
}

.position.bottom.left {
  -webkit-transform: translate(-5%, 5%);
          transform: translate(-5%, 5%);
}

.position.bottom.right {
  -webkit-transform: translate(5%, 5%);
          transform: translate(5%, 5%);
}

.position.left {
  left: 5%;
  right: auto;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
}
